/*The Header logo is a button linking back to home page*/
/*hover over the logo to find a hidden message */

h2 {
    line-height: 20px;
    text-align: center;
    background-color: cornsilk;
}

h1 {
    text-align:center;
    text-decoration: underline;
}

strong {
    text-decoration: none;
    display: block;
    border-style: solid;
    margin: 0 auto 0 auto;
    background-color: beige;
}

p {
    text-justify: distribute-all-lines;
    text-align: center;
}

body {
    background-color:cornsilk;
}

main {
    font-size: larger;
}

.img {
    display: block;
    place-items: center;
    margin: 0 auto 0 auto;
    opacity: 70%;
    border-style: outset;
    border-color: antiquewhite;
}

.img:hover {
    background-color:beige;
    opacity: 60%;
}

bold {
    font-size: large;
}

body {
    background-image: url("heartVine3.jpg"), url("heartVine4.jpg");
    background-size: 75px, 75px;
    background-repeat: no-repeat, no-repeat;
    background-blend-mode:darken;
    background-position-y: left, right;
    background-position-x: left, right;
    
}

h3 {
    text-align: center;
}

header h2 {
    display: block;
    opacity: 5%;
    z-index: 1;
    position: relative;
    top: 45px;
    text-shadow: 5px 0 5px black;
    max-width: 150px;
    left: 50%; transform: translateX(-50%);
}

header h2:hover {
    background-color:aquamarine;
    opacity: 60%;
}

header {
    position: relative;
    left: 1%;
}